@mixin a-list {
    color: $text-color;
    font-size: $font-size-second;
    font-family: $font-family;
}
@mixin label-list {
    font-size: $font-size-second;
        color: $primary_color;
        font-weight: $font-weight;
        font-family: $font-family;
}
@mixin label {
    font-size: $font-size-second;
        color: $primary_color;
        font-weight: $font-weight;
        font-family: $font-family;
        margin: 0;
        padding: 0;
        display: inline-block;
        text-transform: capitalize;
}
@mixin h3-list {
    font-size: $font-size-four;
    line-height: $line-height-second;
     text-transform: capitalize;
     font-family: $font-family;
     font-weight: $font-weight;
     position: relative;
}
@mixin product-title-list {
    color: $primary_color;
                line-height: $line-height;
                padding-top: 3px;
                margin: 0;
                font-weight: $font-weight;
                font-size: $font-size-second;
                text-transform: capitalize;
                text-decoration: none;
}
@mixin border-list {
    display: block;
                width: 19px;
                height: 19px;
                line-height: 15px;
                margin-bottom: 5px;
                margin: 0;
                border-radius: 50%;
                cursor: pointer;
                pointer-events: auto;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                border: 2px solid $background-color;
                box-shadow: 0 0 0px 1px #e7e7e7;
}
@mixin btn-coll {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0 5px 5px;
    align-items: center;
    padding: 0;
    background-color: $background-color;
    text-decoration: none;
    color: #343a40;
    font-size: $font-size;
    vertical-align: middle;
}
@mixin p-list {
    height: 22px;
                  width: 70px;
                  
                  border-radius: 2px;
                  background-color: rgb(18, 160, 160);
                  color: $background-color;
                  font-weight: $font-weight;
                  font-size: $font-size-second;
                  text-transform: uppercase;
                  text-align: center;
}
@mixin card-header {
    background-color: $background-color;
    width: 100%;
    padding-left: 0;
    border: none;
}
@mixin faq-a {  
    font-size: $font-size-second;
          color: black;
          font-weight: $font-weight;
          text-decoration: underline;
}
@mixin information {
    color: $text-color;
      font-size: $font-size-second;
      font-family: $font-family;
      font-style: normal;
      font-weight: $font-weight-third;
}
@mixin img-item {
    display: block;
          position: absolute;
          top: 0%;
          width:  263px;
}
@mixin quick {
    display: none;
            padding: 5px 10px;
            border-radius: 20px;
            background-color: gray;
            color: $background-color;
            font-size: $font-size-second;
            font-family: $font-family;
}
@mixin icon-eye {
              font-size: 22px;
              font-size: $font-size-four;
              width: 32px;
              height: 30px;
              color: black;
              background-color: $background-color;
              border-radius: 50%;
              padding: 6px 4px;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
                0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
@mixin cart{
    padding: 10px 67px;
          width: 263px;
          position: absolute;
          background-color: $secondary_color;
          border: 1px solid $secondary_color;
          font-family: $font-family;
          font-size: $font-size;
          font-weight: $font-weight-four;
}
@mixin cart-2 {
    width: 263px;
          position: absolute;
          background-color: $secondary_color;
          border: 1px solid $secondary_color;
          font-family: $font-family;
          font-size: $font-size;
          font-weight: $font-weight-four;
}
@mixin colors {
    width: 25px;
          height: 25px;
          border-radius: 50%;
          margin-left: 10px;
          box-shadow: 0 0 0px 1px #e7e7e7;
          border: 2px solid $background-color;
}
@mixin badge-list {
    font-size: $font-size-second;
          font-weight: $font-weight-third;
          line-height: 18px;
          letter-spacing: 0.2px;
          padding: 0 8px;
          border-radius: 0;
          font-family: $font-family;
          color: $background-color;
}
@mixin fa-heart {
    position: absolute;
        right: 4%;
        top: 3%;
        font-size: 22px;
        width: 30px;
        height: 30px;
        background-color: $background-color;
        border-radius: 50%;
        padding: 6px 4px;
        z-index: 1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
          0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
@mixin slideshow-button {
    border: 1px solid;
    color: $background-color;
    background-color: $secondary_color;
    border-color: $secondary_color;
    height: 45px;
    line-height: 42px;
    padding: 10px 65px;
}
@mixin slideshow-button-hover {
    background-color: #afafaf;
        color: $background-color;
        text-decoration: none;
        border-color: $background-color;
}
@mixin slideshow-heading {
      font-family: $font-family;
      font-weight: $font-weight-second;
      margin-bottom: 15px;
      text-transform: unset;
      position: relative;
      color: inherit;
}
@mixin slideshow-subheading {
    border-bottom: 1px solid;
      display: inline-block;
      margin-bottom: 25px;
      font-size: $font-size-second;
      font-weight: $font-weight-second;
}
@mixin border {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid $background-color;
    margin-right: 5px;
    box-shadow: 0 0 0px 1px #e7e7e7;
}
@mixin color-border {
    display: flex;
    margin-bottom: 20px;
    padding-left: 90px;
    height: 0px;
}
@mixin submenu-list {
    display: inline-block;
    padding: 10px 0;
    font-size: $font-size-second;
    color: $text-color;
    transition: color 0.3s ease;
    text-decoration: none;
    border-bottom: 1px solid;
    width: 105px;
    text-decoration: none;
}