body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;

  h1 {
    font-size: 30px;
    @media screen and (max-width: 1550px) {
      padding-left: 3%;
    }
    @media screen and (max-width: 1025px) {
      padding-left: 0;
    }
  }

  h3 {
    font-size: 20px;
  }

  .container-faq_header {
    width: 75%;
    // border: 1px solid red;
    margin: 0;
    margin-left: 13.5%;
    margin-top: 5%;
    padding: 0;

    @media screen and (max-width: 1550px) {
      width: 92%;
      margin-left: 3%;
    }

    @media screen and (max-width: 1025px) {
      width: 92%;
      margin-left: 1.5%;
    }

    .breadcrumb {
      padding: 10px 0;
      list-style: none;
      background-color: white;

      li {
        display: inline;
        color: rgb(110, 109, 109);
        font-size: 12px;

        a {
          text-decoration: none;
          color: rgb(110, 109, 109);
        }
      }

      li + li:before {
        padding: 8px;
        color: rgb(110, 109, 109);
        content: ">";
      }
    }

    p {
      font-size: 12px;
      color: rgb(110, 109, 109);

      @media screen and (max-width: 1025px) {
        font-size: 11px;
      }

      a {
        color: #09a073;
      }

      @media screen and (max-width: 1550px) {
        padding-left: 3%;
      }

      @media screen and (max-width: 1025px) {
        padding-left: 0;
      }
    }
  }

  .container-faq_main {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin-left: 13.5%;
    margin-top: 3%;
    padding: 0;

    @media screen and (max-width: 1550px) {
      width: 100%;
      margin-left: 6%;
    }

    @media screen and (max-width: 1025px) {
      margin-left: 0;
      width: 90%;
      flex-direction: column;
    }

    .help {
      display: flex;
      flex-direction: column;
      width: 300px;
      height: 180px;
      padding: 30px;
      background-color: #f8f9fa;

      .help-title {
        text-align: center;
      }
      @media screen and (max-width: 1025px) {
        display: none;
      }
      .help-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 4%;

        @media screen and (max-width: 1025px) {
          display: none;
        }

        .message_us {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          i {
            font-size: 22px;
            margin-bottom: 10px;
          }

          a {
            font-size: 12px;
            color: black;
            font-weight: 500;
            text-decoration: underline;
          }
        }

        .contact_us {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          i {
            font-size: 22px;
            margin-bottom: 10px;
            cursor: pointer;
          }

          a {
            font-size: 12px;
            color: black;
            font-weight: 500;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }

    .openbtn {
      display: none;

      @media screen and (max-width: 1025px) {
        display: block;
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      p {
        @media screen and (max-width: 1025px) {
          padding-left: 10px;
        }
      }
      .icon {
        background-image: url("./sliders.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 40px;
        height: 40px;
      }
    }

    .questions {
      // border: 1px solid black;
      width: 90%;
      margin-left: 5%;
      margin-top: 2%;

      @media screen and (max-width: 1550px) {
        margin-left: 2%;
        width: 67%;
      }

      @media screen and (max-width: 1025px) {
        width: 100%;
      }

      .pre-sale-questions {
        @media screen and (max-width: 1025px) {
          width: 102%;
        }
        .pre-sales-questions_title {
          margin-left: 6px;
          margin-right: 0;

          h3 {
            margin-bottom: 15px;
          }
        }

        .faq-cont {
          width: 100%;
          margin-bottom: 70px;
          padding: 0;

          @media screen and (max-width: 1025px) {
            margin-bottom: 40px;
          }

          .card {
            background-color: white;
            border: none;
            padding: 0;
            margin: 0;
            font-size: 12px;
            color: rgb(128, 126, 126);

            @media screen and (max-width: 1025px) {
              width: 100%;
            }

            .card-header {
              background-color: white;
              width: 100%;
              padding-left: 0;
              border: none;

              h2 {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin: 0;

                .btn {
                  width: 100%;
                  margin-right: 0;
                  display: flex;
                  flex-direction: row;
                  cursor: pointer;
                  align-items: stretch;
                  // margin-bottom: 0.8%;
                  margin-left: 5px;
                  align-items: center;
                  padding: 0;
                  background-color: white;
                  text-decoration: none;
                  color: #1e1f20;
                  font-size: 14px;
                  // border: 1px solid red;

                  p {
                    width: 100%;
                    text-align: left;
                    @media screen and (max-width: 1025px) {
                      width: 100%;
                    }
                  }
                  .mark_1,
                  .mark_2 {
                    height: 30%;
                    padding-right: 15px;
                    margin: 0;
                    background-color: white;
                    display: none;

                    p {
                      height: 22px;
                      width: 70px;
                      // margin-top: 8px;
                      padding: 2px;
                      border-radius: 2px;
                      background-color: rgb(18, 160, 160);
                      color: white;
                      font-weight: 500;
                      font-size: 12px;
                      text-transform: uppercase;
                      text-align: center;
                      // padding-right: 5px;
                    }
                  }

                  .plus-minus-toggle_1,
                  .plus-minus-toggle_2 {
                    text-align: right;
                    cursor: pointer;
                    height: 21px;
                    position: relative;
                    width: 0.3%;
                    &:before,
                    &:after {
                      background: rgb(112, 110, 110);
                      content: "";
                      height: 2px;
                      left: 0;
                      position: absolute;
                      top: 0;
                      width: 16px;
                      transition: transform 300ms ease;
                    }
                    &:after {
                      transform-origin: center;
                    }
                    &.plus {
                      &:after {
                        transform: rotate(-90deg);
                      }
                    }
                  }
                }
              }
            }

            .card-body {
              border-left: none;
              padding-left: 6px;
            }
          }
        }
      }

      // THEME QUESTIONS______________________________________________________
      .theme-questions {
        margin-bottom: 100px;

        .theme-questions_title {
          margin-left: 6px;
          margin-right: 0;
          @media screen and (max-width: 1025px) {
            padding: 0;
            width: 100%;
          }

          h3 {
            margin-bottom: 15px;
          }
        }

        .container {
          background-color: white;
          width: 100%;
          padding-left: 0;
          border: none;

          @media screen and (max-width: 1025px) {
            padding: 0;
            width: 100%;
          }

          @media screen and (max-width: 769px) {
            padding: 20px 0;
            vertical-align: middle;
          }
          .panel {
            background-color: white;
            border: none;
            padding: 0;
            margin: 0;
            font-size: 12px;
            color: rgb(128, 126, 126);

            .panel-heading {
              background-color: white;
              width: 100%;
              padding-left: 0;
              border: none;

              @media screen and (max-width: 769px) {
                width: 95%;
              }

              @media screen and (max-width: 1025px) {
                width: 100%;
              }

              h4 {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin: 0;
                // border: 1px solid red;

                @media screen and (max-width: 1025px) {
                  width: 100%;
                }

                .styling {
                  @media screen and (max-width: 1025px) {
                    margin-bottom: 30px;
                    height: 250px;
                  }
                }

                .btn-coll {
                  width: 100%;
                  height: 50px;
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  margin: 15px 0 5px 5px;
                  align-items: center;
                  padding: 0;
                  background-color: white;
                  text-decoration: none;
                  color: #343a40;
                  font-size: 14px;
                  vertical-align: middle;
                  // border: 1px solid red;

                  @media screen and (max-width: 1025px) {
                    align-items: left;
                    justify-content: left;
                    margin: 0;
                    padding: 0;
                    height: 60px;
                    vertical-align: middle;
                  }

                  @media screen and (max-width: 769px) {
                    height: 60px;
                    vertical-align: middle;
                  }

                  .paragraph {
                    width: 100%;
                    // height: 100%;
                    text-align: left;
                    vertical-align: middle;
                    font-weight: 400;
                    line-height: 2;
                    // border: 1px solid rgb(88, 88, 197);

                    @media screen and (max-width: 1025px) {
                      width: 100%;
                      line-height: 1.8;
                      margin-left: 5px;
                      margin-right: 0;
                    }

                    @media screen and (max-width: 769px) {
                      // height: 100%;
                      margin: 5px;
                      // line-height: 1.5;
                      padding: 5px;
                    }

                    .space {
                      height: 25px;

                      @media screen and (max-width: 769px) {
                        height: 30px;
                      }
                    }
                  }
                }

                .mark_3,
                .mark_4,
                .mark_5,
                .mark_6,
                .mark_7,
                .mark_8,
                .mark_9,
                .mark_10,
                .mark_11,
                .mark_12,
                .mark_13,
                .mark_14,
                .mark_15,
                .mark_16 {
                  height: 100%;
                  padding-right: 15px;
                  padding-top: 12px;
                  background-color: white;
                  display: none;
                  vertical-align: middle;

                  @media screen and (max-width: 1025px) {
                    margin-top: 25px;
                  }

                  p {
                    height: 22px;
                    width: 70px;
                    margin: 3px 0;
                    padding: 5px 2px;
                    border-radius: 2px;
                    background-color: rgb(18, 160, 160);
                    color: white;
                    font-weight: 500;
                    font-size: 12px;
                    text-transform: uppercase;
                    text-align: center;
                    // padding-right: 5px;
                  }
                }

                .plus-minus-toggle_3,
                .plus-minus-toggle_4,
                .plus-minus-toggle_5,
                .plus-minus-toggle_6,
                .plus-minus-toggle_7,
                .plus-minus-toggle_8,
                .plus-minus-toggle_9,
                .plus-minus-toggle_10,
                .plus-minus-toggle_11,
                .plus-minus-toggle_12,
                .plus-minus-toggle_13,
                .plus-minus-toggle_14,
                .plus-minus-toggle_15,
                .plus-minus-toggle_16,
                .plus-minus-toggle_17 {
                  text-align: right;
                  cursor: pointer;
                  height: 21px;
                  position: relative;
                  width: 0.3%;
                  &:before,
                  &:after {
                    background: rgb(112, 110, 110);
                    content: "";
                    height: 2px;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 16px;
                    transition: transform 500ms ease;
                  }
                  &:after {
                    transform-origin: center;
                  }

                  &.plus {
                    &:after {
                      transform: rotate(-90deg);
                    }
                  }

                  @media screen and (max-width: 1025px) {
                    margin-top: 25px;
                    margin-left: 0;
                  }
                }
              }
            }
          }

          .panel-body {
            border-left: none;
            padding-left: 6px;
            margin-bottom: 7px;

            p {
              margin: 22px 0 43px 0;
              line-height: 1.8;

              a {
                text-decoration: none;
                color: black;

                &:hover {
                  color: rgb(110, 187, 187);
                }
              }

              span {
                margin-top: 30px;
                // border: 1px solid red;
              }

              @media screen and (max-width: 1025px) {
                line-height: 2;
                padding-top: 30px;
              }
            }

            span {
              margin: 20px 0;
            }
          }
        }
      }

      .ps {
        text-align: right;
        margin-top: 35px;
        color: grey;
        // padding: 0;
      }
    }
  }
}
