$primary_color: #191919;
$secondary_color: #17a8a3;
$font-family: 'Poppins', sans-serif;
$font-size: 14px;
$text-color: #787878;
$background-color: #fff;
$shadow-color: #e7e7e7;
$font-weight: 500;
$font-weight-second: 700;
$font-size-seccond: 12px;
$line-height: 24px;
